<!doctype html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <div>
        <center><h1><u><i>SECRET PAGE</i></u></h1></center>
    </div>
    {{>navbar}}
    <br>
    {{>slider}}
    <br>
    <b>

        <div class="main">
            <center>
                <h2><u>Water Pollution And Its Control</h2></u>
            </center>
    </b>
    <p>Water is one of the basic necessities for every living being and we cannot imagine a life without water. It is
        the natural resource and the main constituent of our planet earth. Water is the universal solvent and plays a
        key role in the existence of various forms of life on the planet earth. It is widely used for various purposes
        such as washing, bathing, cleaning, cooking, drinking, and other industrial and domestic uses.

        Water is a colourless and odourless substance that is essential for the survival of living beings. There are
        various sources of water such as wells, rivers, ponds, lakes, oceans, big dams, and streams. As we all know,
        nearly 70 to 80 percent of the Earth’s surface is covered by water, among which only 1-2 per cent water is pure
        and suitable for human use.</p><br>
    <h3>What is Conservation of Water?</h3>
    <p>Conservation of water mainly refers to protect, preserve, and control the usage of water and its resources. It is
        the system introduced to manage freshwater, reduce the wastage and protect the water and its resources in order
        to reduce and to avoid the scarcity. Therefore, we all should come forward to create awareness about
        conservation of water among our own friends, family, neighbours, society, etc. Conservation of water is very
        much essential as it saves life on earth.</p><br>
    <!-- video code  -->
    <!-- <center><video controls autoplay muted loop scr="1.mp4" width="50%"></video></center> -->
    <center><video width="50%" controls autoplay loop muted>
            <source src="1.mp4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->

        </video></center>

    <br>
    <h2>Types of Pollution</h2>
    <h5>Table of Contents</h5>
    <ol>
        <li><a href="https://byjus.com/biology/water-pollution-control/#water-pollution" target="_blank">Water Pollution
        </li></a>
        <li><a href="https://byjus.com/biology/water-pollution-control/#sources">Sources</li></a>
        <li><a href="https://byjus.com/biology/water-pollution-control/#modern-epidemic">Modern Epidemic</li></a>
        <li><a href="https://byjus.com/biology/water-pollution-control/#effects">Effects</li></a>
        <li><a href="https://byjus.com/biology/water-pollution-control/#minimata-incident">Minamata Incident</li></a>
        <li><a href="https://byjus.com/biology/water-pollution-control/#ganges-river">Ganges River</li></a>
        <li><a href="https://byjus.com/biology/water-pollution-control/#prevention">Prevention</li></a>
    </ol>
    <br>
    <center><video width="50%" controls autoplay loop muted>
            <source src="2.mp4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->

        </video></center>
    <br>
    <p>There are various types of pollution chiefly arising as a result of anthropogenic causes. Also contributing to
        pollution is globalisation, where humanity’s constant need for natural resources has slowly started to change
        the face of the earth.

        Though the quality of living has drastically improved, other new issues have risen that gradually impact human
        health and the environment. In this article, we shall explore the meaning, causes and types of pollution. Also,
        we shall analyse the repercussions of pollution on human health and the environment.</p>
    <br>
    <center><img src="https://cdn1.byjus.com/wp-content/uploads/2019/05/6604519797_fe9054603d_b-e1561627461918.jpg"
            class="img"></center>
    <br>
    <h3>What is Water Pollution?</h3>
    <p>“Pollution is the introduction of substances (or energy) that cause adverse changes in the environment and living
        entities .”

        Pollution need not always be caused by chemical substances such as particulates (like smoke and dust). Forms of
        energy such as sound, heat or light can also cause pollution. These substances that cause pollution are called
        pollutants.

        Pollution, even in minuscule amounts, impacts the ecological balance. Pollutants can make their way up the food
        chain and eventually find their way inside the human body. Read on to explore the types of pollution and their
        implications.</p>
    <h3>Sources Of Water Pollution</h3>
    <h5>The key causative of water pollution in India are:</h5>
    <ul>
        <li>Urbanization.</li>
        <li>Deforestation.</li>
        <li>Industrial effluents.</li>
        <li>Social and Religious Practices.</li>
        <li>Use of Detergents and Fertilizers.</li>
        <li>Agricultural run-offs- Use of insecticides and pesticides.</li>
    </ul>
    <h3>Water Pollution – A Modern Epidemic</h3>
    <br>
    <center><img
            src="https://www.nrdc.org/sites/default/files/styles/medium_16x9_100/public/media-uploads/guide_waterpollution_66615937_2400.jpg.jpg?itok=b5FHpTeN"
            class="img"></center>
    <br>
    <p>One of the primary causes of water pollution is the contamination of water bodies by toxic chemicals. As seen in
        the example mentioned above, the dumped plastic bottles, tins, water cans and other wastes pollute the water
        bodies. These result in water pollution, which harms not just humans, but the whole ecosystem. Toxins drained
        from these pollutants, travel up to the food chain and eventually affect humans. In most cases, the outcome is
        destructive to only the local population and species, but it can have an impact on a global scale too.

        Nearly 6 billion kilograms of garbage is dumped every year in the oceans. Apart from industrial effluents and
        untreated sewage, other forms of unwanted materials are dumped into various water bodies. These can range from
        nuclear waste to oil spills – the latter of which can render vast areas uninhabitable.</p>
    <h3>Effects Of Water Pollution</h3>
    <p>The effect of water pollution depends upon the type of pollutants and their concentration. Also, the location of
        water bodies is an important factor to determine the levels of pollution.</p>
    <ul>
        <li>Water bodies in the vicinity of urban areas are extremely polluted. This is the result of dumping garbage
            and toxic chemicals by industrial and commercial establishments.</li>
        <li>Water pollution drastically affects aquatic life. It affects their metabolism, and behaviour, and causes
            illness and eventual death. Dioxin is a chemical that causes a lot of problems from reproduction to
            uncontrolled cell growth or cancer. This chemical is bioaccumulated in fish, chicken and meat. Chemicals
            such as this travel up the food chain before entering the human body.</li>
        <li>The effect of water pollution can have a huge impact on the food chain. It disrupts the food chain. Cadmium
            and lead are some toxic substances, these pollutants upon entering the food chain through animals (fish when
            consumed by animals, humans) can continue to disrupt at higher levels.</li>
        <li>Humans are affected by pollution and can contract diseases such as hepatitis through faecal matter in water
            sources. Poor drinking water treatment and unfit water can always cause an outbreak of infectious diseases
            such as cholera, etc.</li>
        <li>The ecosystem can be critically affected, modified and destructured because of water pollution.</li>
    </ul>
    <h3>Minamata Incident</h3>
    <br>
    <center><img src="https://assets.weforum.org/article/image/large_KZosruZfdtwHCaYeVNeMOmwWM9e4OoLkDyCFFarh1io.jpg"
            class="img">
        <br><br>
        <h6>The Minamata Incident marked one of the worst cases of water pollution.</h6>
    </center>
    <p>In 1932, a factory in Minamata City, Japan began dumping its industrial effluent – Methylmercury, into the
        surrounding bay and the sea. Methylmercury is incredibly toxic to humans and animals alike, causing a wide range
        of neurological disorders.

        Its ill effects were not immediately noticeable. However, this all changed as methylmercury started to
        bioaccumulate inside shellfish and fish in Minamata Bay. These affected organisms were then caught and consumed
        by the local population. Soon, the ill effects of methylmercury were becoming apparent.

        Initially, animals such as cats and dogs were affected by this. The city’s cats would often convulse and make
        strange noises before dying – hence, the term “dancing cat disease” was coined. Soon, the same symptoms were
        observed in people, though the cause was not apparent at the time.

        Other affected people showed symptoms of acute mercury poisoning such as ataxia, muscle weakness, loss of motor
        coordination, damage to speech and hearing etc. In severe cases, paralysis occurred, which was followed by coma
        and death. These diseases and deaths continued for almost 36 years before they could be officially acknowledged
        by the government and the organisation.
        Since then, various control measures for water pollution have been adopted by the government of Japan to curb
        such environmental disasters in the future.</p>
    <h3>Pollution of the Ganges</h3>
    <p>Some rivers, lakes, and groundwater are rendered unfit for usage. In India, the River Ganges is the sixth most
        polluted river in the world. This is unsurprising as hundreds of industries nearby release their effluents into
        the river. Furthermore, religious activities such as burials and cremations near the shore contribute to
        pollution. Apart from the ecological implications, this river poses a serious health risks as it can cause
        diseases like typhoid and cholera.

        Pollution of the Ganges is also driving some of the distinct fauna to extinction. The Ganges River shark is a
        critically endangered species that belong to the order Carcharhiniformes. The Ganges River dolphin is another
        endangered species of dolphin that is found in the tributaries of the Ganges and Brahmaputra rivers.

        As per a survey, by the end of 2026, around 4 billion people will face a shortage of water. Presently, around
        1.2 billion people worldwide do not have access to clean, potable water and proper sanitation. It is also
        projected that nearly 1000 children die every year in India due to water-related issues. Groundwater is an
        important source of water, but unfortunately, even that is susceptible to pollution. Hence, water pollution is
        quite an important social issue that needs to be addressed promptly.</p>
    <h3>Control Measures of Water Pollution</h3>
    <p>Water pollution, to a larger extent, can be controlled by a variety of methods. Rather than releasing sewage
        waste into water bodies, it is better to treat them before discharge. Practising this can reduce the initial
        toxicity and the remaining substances can be degraded and rendered harmless by the water body itself. If the
        secondary treatment of water has been carried out, then this can be reused in sanitary systems and agricultural
        fields.

        A very special plant, the Water Hyacinth can absorb dissolved toxic chemicals such as cadmium and other such
        elements. Establishing these in regions prone to such kinds of pollutants will reduce the adverse effects to a
        large extent.

        Some chemical methods that help in the control of water pollution are precipitation, the ion exchange process,
        reverse osmosis, and coagulation. As an individual, reusing, reducing, and recycling wherever possible will
        advance a long way in overcoming the effects of water pollution.</p>
    <footer>
        <div class="lastscroll">
            <div class="it">Contact us &#9698;</div>
            <div class="it">More &#9698;</div>
            <div class="it">Help &#9698;</div>
            <div class="it">General Information &#9698;</div>
            <div class="it">Air Pollution &#9698;</div>
            <div class="it">Soile Erosion &#9698;</div>
            <div class="it">Important Information &#9698;</div>
            <div class="it">Advertise with us &#9698;</div>
            <div class="it">Policies &#9698;</div>
            <div class="it">Agents &#9698;</div>
            <div class="it">Refund Rules &#9698;</div>
            <div class="it">Ask Disha ChatBot &#9698;</div>
            <div class="it">Enquiries &#9698;</div>
            <div class="it">Person With Disability Facilities &#9698;</div>
            <div class="it">About us &#9698;</div>
        </div>
        <div class="copyright">
            <center><span>&copy; All Rights Reserved<br>Designed by SAHIL KUMAR </span></center>
        </div>
    </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>