{{>header}}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://cdn1.byjus.com/wp-content/uploads/2018/12/causes-of-water-pollutions.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://qnet-india.in/wp-content/uploads/2020/05/Plastic-accumulation-in-waterbodies-scaled.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Water Pollution</h3>
                <p>Some chemical methods that help in the control of water pollution are precipitation, the ion exchange
                    process, reverse osmosis, and coagulation. As an individual, reusing, reducing, and recycling wherever
                    possible will advance a long way in overcoming the effects of water pollution.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://i.natgeofe.com/n/88cdf805-08d0-4ce6-8195-230cc46bc1b1/46_3x2.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Water Pollution</h3>
                <p>Some chemical methods that help in the control of water pollution are precipitation, the ion exchange
                    process, reverse osmosis, and coagulation. As an individual, reusing, reducing, and recycling wherever
                    possible will advance a long way in overcoming the effects of water pollution.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
